bin/
cover.out
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.idea/
.vscode/

# Kubernetes
kubeconfig

# Go
vendor/
bin/

# Compose local path (also listed in compose/.gitignore)
compose/.env
compose/Saved/**
!compose/Saved/.gitkeep
